*{
	margin:0;
	padding:0;
	font-family:"Helvetica", Arial;
}
/* Cuerpo de la pagina */
body{
	background-image: url(../imagenes/linkin-park.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#themes{
	background: rgba(99,99,99,0.7);
	position:fixed;
	top:40%;
	width:50px;
	height:120px;
}

#purple, #blue, #orange{
	margin:0 auto;
	width:30px;
	height:30px;
	margin-top: 6px;
	margin-bottom: 3px;
	display:block;
	border:1px solid white;
	border-radius:2px;
	cursor:pointer;
}

#purple{
	background: #BD3588;
}

#blue{
	background: #4E6AF9;
}

#orange{
	background: #FF8700;
}

.caja{
	width: 65%;
	padding:30px;
	position: relative;
	background: white;
	left:15%;
	top:20px;
}

/*Cabecera*/
.encabezado{
	padding:5px;
	display:inline-block;
	font-size:35px;
	color:white;
	width:8em;
	letter-spacing: .1em;
	box-shadow: 2px 2px 1px gray;
	height:1.5em;
	line-height: 1.6em;
	text-align: center;
}

.botonsito{
	position:relative;
	left: 21.75em;
	bottom:0.8em;
	display:inline-block;
	font-size: 20px;
	padding:0px;
	width: 8em;
	padding-top: 6px;
	text-align: center;
	color:white;
	text-decoration: none;
	border-radius: 2px;
	font-weight: bold;
	height: 1.5em;
	cursor:pointer;
}

.ui-helper-reset{
	outline:none;
}

input[type="password"]{
	margin-right: 70%;
	margin-bottom: 10px;
	padding:5px;
}

input[type="text"]{
	padding:5px;
	margin-bottom:10px;
}

input[type="mail"]{
	padding:5px;
	margin-bottom:10px;
}

input[type="password"]:focus{
	outline:none;
}

input[type="submit"]{
	display:block;
	padding:10px;
	color:white;
	font-weight: bold;
	cursor:pointer;
	border-radius: 2px;
	border:0px;
	margin-top: 0px
}

#acordeonsito{
	width:80%;
}

#acordeonsito h3 span{
	color:white;
}

#acordeonsito h3:focus, #acordeonsito h3:active{
	outline:none;
}

nav{
	margin-top: 30px;
	background: #5D6064;
	width: 100%;
	margin-bottom: 0.1em
}

nav ul{
	line-height:1.5em;
}

nav ul li{
	height: 1.5em;
	padding:10px 20px;
	display:inline-block;
	cursor: pointer;
}

nav ul li a{
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	display:block;
	color:white;
	text-decoration: none;
}

.clear{
	float: none;
	clear:both;
}

footer{
	float:none;
	clear:both;
	margin-top: 30px;
	background: #5D6064;
	width: 100%;
	margin-bottom: 0.1em;
}


footer img{
	margin:0.5em; 
	width:6%;
	border-radius: 50%;
}

footer span{
	position: relative;
	left:6.5em;
}

.ig{
	position: relative;
	bottom:1.5em;
	color:white;
	font-weight: bold;
	margin-right: 2.5em;
}

.clear{
	float: none;
	clear:both;
}
