body{
	background-image: url(../imagenes/bg-blue.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.encabezado, nav ul li:hover, .botonsito, form input[type="submit"], .fregistro, .registro input[type="submit"], form a{
	background: #4E6AF9;
}

#reloj{
	background:#4E6AF9;
}

.botonsito:hover{
	background:#6B83FF;
}

 .registro input, input[type="text"], textarea, input[type="password"], input[type="mail"]{
 	border:2px solid #4E6AF9;
 }

#acordeonsito h3{
	background:#4E6AF9;
	color:white;
}

#acordeonsito h3:active, #acordeonsito h3:hover, #acordeonsito h3:focus{
	background:#6B83FF;
	color:white;
	font-weight: bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border:1px solid #4E6AF9;
}

 input[type="text"]:focus, textarea:focus{
	outline-color:#4E6AF9;
}
